.wrapper {
  --color-accent-primary: #fff;
  --color-accent-secondary: #000;

  position: sticky;
  z-index: 1337;

  top: 0;
  right: 0;

  width: 100%;

  color: var(--color-accent-primary);
  background-color: transparent;

  transition:
    color 250ms ease,
    background-color 250ms ease;
}

.wrapper.fixed {
  position: fixed;
}

.wrapper.background {
  --color-accent-primary: #000;
  --color-accent-secondary: #fff;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  padding-block: 45px;
}

.hamburgerMenuButton svg {
  width: 36px;
}

.navigation {
  display: flex;
  column-gap: 30px;
  margin-left: 30px;
}

.navigationItem {
  font-size: 21px;
  font-weight: 600;
}

.firstLogotype svg {
  height: 50px;
}

.logotype {
  position: absolute;
  right: 50%;
  translate: 50% 0;
}

.logotype svg {
  width: 160px;
}

.controls {
  display: flex;
  column-gap: 15px;
  margin-left: auto;
}

.control {
  position: relative;
}

.control svg {
  width: 20px;
  height: 20px;
}

.control[data-amount]::after {
  position: absolute;
  content: attr(data-amount);

  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  font-size: 10px;
  font-weight: 500;
  line-height: 1;

  color: var(--color-accent-secondary);
  background-color: var(--color-accent-primary);

  border-radius: 100%;
  translate: 35% -25%;
}

@media (--media-tablet) {
  .container {
    padding-block: 20px;
  }

  .navigation {
    display: none;
  }

  .controls,
  .hamburgerMenuButton {
    align-self: flex-start;
  }

  .hamburgerMenuButton {
    margin-left: 15px;
  }

  .hamburgerMenuButton svg {
    height: 20px;
  }
}

@media (--media-mobile) {
  .logotype {
    display: none;
  }
}
