.header {
  position: sticky;
  z-index: 1337;

  top: 0;
  right: 0;

  width: 100%;
  background-color: #fff;

  transition: transform 200ms ease;
}

.top {
  padding: 12.5px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 8px;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  column-gap: 15px;
}

.control {
  position: relative;
}

.control[data-amount]::after {
  position: absolute;
  content: attr(data-amount);

  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  font-size: 10px;
  font-weight: 500;
  line-height: 1;

  color: #fff;
  background-color: #000;

  border-radius: 100%;
  translate: 25% -25%;
}

.controlScrolled[data-amount]::after {
  color: #000;
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.navigationItem {
  padding-block: 15px;
  font-size: 21px;
  font-weight: 600;
  color: #3d4143;
}

.navigationItem.active {
  color: #000000;
  border-bottom: 4px solid #000;
}

@media (--tablet-media) {
  .top {
    padding: 20px 30px;
    border-bottom: none;
  }

  .navigation {
    display: none;
  }

  .logotype {
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 8px;
    text-transform: uppercase;
    translate: 36px 0;

    position: unset;
    transform: unset;
  }
}

.homeHeader {
  position: fixed;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  & > div {
    & a {
      color: white;
      transition: color 0.3s ease;
    }

    & svg {
      color: white;
      stroke: white;
      transition:
        color 0.3s ease,
        stroke 0.3s ease;
      & g {
        fill: white;
        stroke: none;
      }
      & path {
        stroke: white;
      }
    }
  }

  .svgSwitchColor {
    fill: white;
    stroke: none;
    & g {
      fill: white;
      stroke: none;
    }
    & path {
      fill: white;
      stroke: none;
    }
  }
}

.homeHeaderScrolled {
  position: fixed;
  background-color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  & > div {
    & a {
      color: black;
      transition: color 0.3s ease;
    }

    & svg {
      color: black;
      stroke: black;
      transition:
        color 0.3s ease,
        stroke 0.3s ease;
      & g {
        fill: black;
        stroke: none;
      }
      & path {
        stroke: black;
      }
    }
  }

  .svgSwitchColor {
    fill: black;
    stroke: none;
    & g {
      fill: black;
      stroke: none;
    }
    & path {
      fill: black;
      stroke: none;
    }
  }
}

.headerWrapper {
  display: flex;
  gap: 20px;

  & svg {
    fill: white;
    stroke: none;
    & g {
      fill: white;
      stroke: none;
    }
    & path {
      fill: white;
      stroke: none;
    }
  }
}

.headerWrapperScrolled {
  & svg {
    fill: black;
    stroke: none;
    & g {
      fill: black;
      stroke: none;
    }
    & path {
      fill: black;
      stroke: none;
    }
  }
}

@media (--tablet-media) {
  .headerWrapper a {
    display: none;
  }
}
