.wrapper {
  flex-grow: 1;
  padding-block: 75px 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 500px;
}

.title {
  font-family: var(--font-fira-sans-extra-condensed), sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
