.container {
    width: 1136px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 46px;
    font-family: "DIN Condensed", sans-serif;
    margin-top: 53px;
    color: var(--black);
}

.description {
    font-size: 24px;
    margin-top: 20px;
    color: var(--black);
    line-height: 29px;
    font-family: "Montserrat", sans-serif;
}

.paragraph {
    margin: 0;
}

.listItem {
    position: relative;
    margin-left: 10px;
    padding-left: 20px;
}

.listItem::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: var(--black);
}

.deliveryInformationContainer {
    margin: 79px 0 64px;
}

