.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 400px;
  aspect-ratio: 0.65;
  object-fit: scale-down;
  cursor: pointer;
}

.name {
  margin-top: 20px;

  font-size: 14px;
  font-weight: 500;
}

.price {
  margin-top: 5px;

  font-size: 14px;
  font-weight: 600;
}

.colorSelector {
  margin-top: 10px;
}

@media (--media-mobile) {
  .image {
    width: 250px;
    aspect-ratio: 1;
  }
}
