.wrapper {
  width: fit-content;

  display: flex;
  column-gap: 25px;

  padding-block: 20px;
  margin-inline: auto;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;

  color: #3D4143;
}

.item svg {
  color: #000;
}
