.wrapper {
  display: flex;
  column-gap: 10px;
}

.wrapper.wrapper_reversed {
  flex-direction: row-reverse;
}

.wrapper.wrapper_reversed .ambassadorArrow {
  left: 0;
  translate: -50% -50%;
  rotate: 180deg;
}

.ambassador {
  position: relative;
  height: fit-content;
}

.ambassadorImage {
  width: 128px;
  height: 128px;

  border-radius: 100%;
  border: 5px solid transparent;

  box-shadow: 0 0 0px 1px #fff;
  object-fit: cover;
}

.ambassadorArrow {
  position: absolute;
  z-index: 1;

  top: 50%;
  right: 0;

  width: 70px;
  height: 70px;

  translate: 50% -50%;
}

.comment {
  position: relative;

  width: 900px;
  padding: 40px 55px;

  border-radius: 25px;

  background-color: #fff;
  overflow: hidden;
}

.commentImage {
  position: absolute;

  top: 50%;
  right: 0;

  translate: calc(100% - 100px) -50%;

  width: auto;
  height: 100%;

  object-fit: cover;
}

.commentTitle {
  font-size: 21px;
  font-weight: 700;
}

.commentText {
  margin-top: 10px;

  position: relative;
  z-index: 1;

  font-size: 19px;
  font-weight: 500;

  max-height: 20lh;
  overflow-y: auto;
}

.commentButton {
  display: block;
  width: fit-content;

  margin-top: 25px;
  padding: 5px 15px;

  font-size: 21px;
  font-weight: 500;

  border: 1px solid currentColor;
  border-radius: 9999px;
}

.commentCloseButton {
  position: absolute;
  z-index: 1;
  padding: 6px;

  top: 40px;
  right: 40px;

  background-color: #fff;

  border-radius: 100%;
  border: 1px solid currentColor;
}

.commentCloseButton svg {
  width: 10px;
  height: 10px;
}

@media (--media-tablet) {
  .ambassadorArrow {
    width: 50px;
    height: 50px;
  }

  .comment {
    padding: 20px 25px;
    width: 400px;
    background-position-x: 300%;
  }

  .commentText {
    font-size: 12px;
    padding-right: 50px;
  }

  .commentTitle {
    font-size: 16px;
  }

  .commentCloseButton {
    top: 20px;
    right: 25px;
  }
}

@media (--media-mobile) {
  .wrapper {
    flex-direction: column;
  }

  .ambassador {
    width: fit-content;
  }

  .ambassadorArrow {
    bottom: 0;
    left: 50%;
    translate: -50% 70%;
    rotate: 90deg;
  }

  .comment {
    width: 270px;
    margin-left: auto;
  }

  .commentImage {
    visibility: hidden;
  }

  .commentText {
    max-height: 25lh;
    overflow-x: auto;
  }
}
