.container {
  margin-top: 25px;
}

.title {
  position: relative;
  width: fit-content;

  font-family: 'DIN Condensed', sans-serif;
  font-size: 48px;
  font-weight: 400;

  color: #3D4143;
}

.title[data-discount]::after {
  position: absolute;

  top: 0;
  right: 0;

  padding: 5px 10px;
  width: fit-content;

  display: block;
  content: attr(data-discount);

  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;

  color: #FFF;
  background-color: #000;

  border-radius: 10px;
  translate: calc(100% + 10px) 0;
}

.wrapper {
  margin-top: 35px;
  display: flex;
  column-gap: 60px;
}

.content {
  flex-grow: 1;
}

@media (--tablet-media) {
  .container {
    margin-top: 10px;
  }
}
