.wrapper {
  display: flex;
  column-gap: 5px;
  width: fit-content;
}

.color {
  position: relative;

  width: var(--size);
  height: var(--size);

  border: var(--border-size) solid transparent;
  border-radius: 100%;

  --color-background: transparent;
}

.color::before {
  position: absolute;
  content: '';

  top: 50%;
  right: 50%;

  width: calc(var(--size) - var(--border-size) * 4);
  height: calc(var(--size) - var(--border-size) * 4);

  translate: 50% -50%;
  border-radius: 100%;

  background-color: var(--color-background);
}

.color.selected {
  border-color: #000;
}

.sm {
  --size: 30px;
  --border-size: 1px;
}

.md {
  --size: 50px;
  --border-size: 2px;
}
