.element {
    margin-top: 30px;
}

.btns__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 55px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.imageContainer img {
    width: 100%;
    max-width: 216px;
    margin-top: 64px;
}