.button {
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

.button svg {
  width: 14px;
  height: 14px;
}

.body {
  padding: 20px 0 0 30px;
}
