.sizeWrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.title {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #3d4143;
}

.size {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3d4143;
}

.select {
  margin-left: 5px;
  padding: 5px 34px 5px 10px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  font-weight: 500;

  border: 1px solid #979797;
  border-radius: 4px;

  color: #3d4143;
  background-color: #fff;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 0.999999L7 7L1 1" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-size: 14px 8px;

  cursor: pointer;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.submitButton {
  margin-top: 15px;
}
