.title {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #000;
}

.image {
  position: relative;

  margin-top: 30px;
  aspect-ratio: 16 / 6;

  background-size: cover;
  background-position: center;
}

.imageTitle {
  position: absolute;
  top: 20px;
  left: 20px;
}

.imageTitleBody {
  display: flex;
  column-gap: 20px;
  color: #fff;
}

.imageTitleBodyText {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.imageTitleBodyArrows {
  display: flex;
  column-gap: 10px;
  margin-block: auto 10px;
}

.imageTitleButton {
  margin-top: 20px;
  padding: 5px 15px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 21px;
  font-weight: 500;

  color: #fff;

  border: 1px solid #fff;
  border-radius: 9999px;
}

.imageDescription {
  max-width: 700px;

  position: absolute;
  right: 30px;
  bottom: 50px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
  font-weight: 600;

  color: #fff;
}

@media (--tablet-media) {
  .wrapper {
    padding-inline: 0;
  }

  .title {
    padding-inline: var(--container-padding);
  }

  .image {
    margin-top: 20px;
    aspect-ratio: 4 / 3;
  }

  .imageDescription {
    max-width: none;
    font-size: 32px;
    left: 0;
    width: 100%;
    padding-inline: 20px;
  }
}

@media (--mobile-media) {
  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .image {
    aspect-ratio: 9 / 16;
  }

  .imageTitleBodyText {
    font-size: 24px;
  }

  .imageDescription {
    bottom: 30px;
    font-size: 20px;
  }
}
