.wrapper {
  position: relative;
  height: 100dvh;
  background-position: center;
  background-size: cover;
}

.text {
  position: absolute;
  max-width: 425px;

  right: 35px;
  bottom: 150px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  text-align: right;

  color: #fff;
}

.text b {
  font-size: 22px;
}

.logotype {
  position: absolute;

  bottom: 85px;
  right: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;

  translate: 50% 0;
}

.logotype__icon {
  height: 100px;
  color: #fff;
}

.logotype__button {
  padding: 5px 15px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: #fff;

  border-radius: 9999px;
  border: 1px solid #fff;
}

@media (--media-tablet) {
  .logotype {
    bottom: 230px;
  }

  .logotype__icon {
    visibility: hidden;
  }

  .text {
    right: 35px;
    bottom: 70px;
  }
}

@media (--media-mobile) {
  .logotype {
    bottom: 50%;
    translate: 50% 50%;
  }

  .logotype__icon {
    visibility: visible;
    height: 40px;
  }

  .text {
    padding-inline: 30px;

    width: 100%;
    max-width: none;

    right: 0;
    bottom: 70px;
  }
}
