.wrapper {
  padding-bottom: 45px;
}

.catalog {
  margin-top: 40px;
}

.banner {
  margin-top: 70px;
}

.ambassadorsProducts {
  margin-top: 60px;
}

.news {
  margin-top: 55px;
}

@media (--media-tablet) {
  .banner {
    margin-top: 40px;
  }

  .ambassadorsProducts {
    margin-top: 50px;
  }

  .news {
    margin-top: 40px;
  }
}

@media (--media-mobile) {
  .ambassadorsProducts {
    margin-top: 45px;
  }
}
