.wrapper {
  padding: 53px 179px 56px 80px;
  color: #fff;
  background-color: #000;
}

.footerContainer {
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.row + .row {
  margin-top: 70px;
}

.block {
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat), sans-serif;
}

.blockTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.blockSubtitle {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
}

.blockBody {
  margin-top: 38px;
}

.phonenumberLink {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  font-size: 32px;
}

.phoneLine {
  margin-top: 33px;
}

.socialIcons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.paymentMethods {
  display: flex;
  column-gap: 10px;
}

.paymentMethod {
  height: 50px;
  aspect-ratio: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background-color: #fff;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.linksTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.linksItem {
  width: fit-content;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: rgb(255, 255, 255);
}

.bottom {
  margin-top: 35px;
  padding-top: 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #fff;
}

.copyright {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  font-weight: 600;
}

@media (--tablet-media) {
  .wrapper {
    padding: 33px 20px 50px;
  }

  .row:first-child {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
