.wrapper {
  padding-block: 50px;
  color: #fff;
  background-color: #000;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.row + .row {
  margin-top: 90px;
}

.block {
  display: flex;
  flex-direction: column;
  font-family: var(--font-montserrat), sans-serif;
}

.blockTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.blockSubtitle {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
}

.blockBody {
  margin-top: 15px;
}

.phonenumberLink {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;

  font-size: 32px;
  font-weight: 600;
}

.socialIcons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.socialIcons svg {
  width: 30px;
  height: 30px;
}

.paymentMethods {
  display: flex;
  column-gap: 10px;
}

.paymentMethod {
  height: 50px;
  aspect-ratio: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background-color: #fff;
}

.paymentMethod svg {
  width: 50%;
  height: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.linksTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.linksItem {
  width: fit-content;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: #f4f4f4;
}

.bottom {
  margin-top: 35px;
  padding-top: 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #fff;
}

.copyright {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.divider {
  margin-block: 15px;

  width: 36px;
  height: 2px;

  background-color: #fe2e00;
}

@media (--media-tablet) {
  .row:first-child {
    grid-template-columns: 1fr;
    row-gap: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .copyright {
    font-size: 32px;
    font-weight: 700;
  }
}
