.list {
    color: #000000;
}

.listItem {
    position: relative;
    margin-left: 10px;
    padding-left: 20px;
    color: #000000;
}

.listItem::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: #000000;
}

.section {
    margin-bottom: 20px;
}

.section__block {
    margin: 20px 0;
    color: var(--black);
}

.paragraph {
    font-size: 24px;
    color: #000000;
}

.videoContainer {
    margin: 45px 0 53px;
}

.videoContainer iframe {
    width: 100%;
}
