.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.control {
  position: absolute;
  visibility: hidden;

  padding-bottom: 3px;
  right: 20px;

  font-size: 20px;
  font-weight: 500;

  border-bottom: 1px solid currentColor;
}

.control::placeholder {
  opacity: 1;
  color: currentColor;
}

.control_expanded {
  visibility: visible;
}

.button {
  position: relative;
}

.button svg {
  width: 20px;
  height: 20px;
}

@media (--media-tablet) {
  .control {
    width: 150px;
  }
}
