.wrapper {
  padding-block: 60px;
}

.title {
  font-family: 'DIN Condensed', sans-serif;
  font-size: 48px;

  color: #3D4143;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #3D4143;
}
