.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  font-family: var(--font-montserrat), sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.headerNavigation {
  display: flex;
}

.headerNavigationButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

.headerNavigationButton svg {
  width: 18px;
  height: 18px;
}

.navigationButton_disabled svg path {
  fill: none;
  stroke: currentColor;
}

.carousel {
  position: relative;
  margin-top: 40px;
  overflow-x: hidden;
}

.carouselWrapper {
  display: flex;
}

.carouselSlide {
  flex-shrink: 0;
}

.newsItem {
  position: relative;
  aspect-ratio: 1.5;

  display: block;
  padding: 50px 25px;

  background-size: cover;
  background-position: center;
}

.newsItemTitle {
  display: flex;
  column-gap: 10px;
  color: #fff;
}

.newsItemTitleArrow {
  margin-top: 5px;
}

.newsItemTitleArrow svg {
  width: 18px;
  height: 18px;
}

.newsItemTitleText {
  max-width: 250px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.newsItemBadges {
  position: absolute;

  left: 20px;
  bottom: 30px;

  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.newsItemBadgesItem {
  padding: 2px 5px;
  width: fit-content;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  background-color: #fff;
}

.newsItemButton {
  position: absolute;
  translate: 50% 0;

  bottom: 45px;
  right: 50%;

  padding: 5px 15px;

  font-family: var(--font-montserrat), sans-serif;
  font-size: 21px;
  font-weight: 500;

  color: #fff;
  border: 1px solid #fff;
  border-radius: 9999px;
}

.carouselNavigation {
  position: absolute;

  top: 50%;
  right: 0;

  display: flex;
  justify-content: space-between;
  width: 100%;

  translate: 0 -50%;
  pointer-events: none;
}

.carouselNavigationButton {
  padding: 10px;
  background-color: #fff;
  pointer-events: all;
}

.carouselNavigationButton svg {
  width: 18px;
  height: 18px;
}

@media (--media-tablet) {
  .carousel {
    margin-top: 20px;
  }
}

@media (--media-mobile) {
  .wrapper {
    padding-inline: 0;
  }

  .headerTitle {
    font-size: 21px;
    font-weight: 600;
    padding-inline: var(--page-padding);
  }

  .newsItem {
    display: flex;
    aspect-ratio: 0.65;
    padding-left: 15px;
  }

  .newsItemTitle {
    margin: auto;
    padding-inline: 40px;
  }

  .newsItemButton {
    bottom: 130px;
  }
}
