.HelpSection {
    padding: 20px;
    font-family: 'DIN Condensed', sans-serif;
}

.HelpSection .title {
    font-size: 46px;
    margin-top: 51px;
    margin-bottom: 46px;
    color: var(--black);
}

.HelpSection__links {
    display: flex;
    flex-direction: column;
}

.HelpSection__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--black);
    &:last-child {
        margin-bottom: 115px;
    }
}

.backwardLinkMargin {
    margin-left: 40px;
    color: var(--black);
}
