.title {
    font-size: 46px;
    margin-top: 53px;
    margin-bottom: 25px;
    color: var(--black);
    font-family: "DIN Condensed", sans-serif;
}

.imageContainer {
    text-align: center;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.details {
    display: flex;
    margin: 44px 0;
    gap: 120px;
}

.detailItem {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--black);
    gap: 10px;
}

.detailItem__title {
    font-weight: 400;
}

.detailItem__value {
    font-weight: 600;
}

.section {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 44px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 44px;
    color: #000;
}

.paragraph {
    position: relative;
    font-size: 24px;
    color: #000000;
    padding-left: 20px;
    margin-left: 18px;
}

.paragraph::before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
    color: #000000;
}

.buttonContainer {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.deliveryInformationContainer {
    margin: 79px 0 64px;
}

@media (max-width: 994px) {
    .details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .paragraph {
        position: relative;
        font-size: 24px;
        color: #000000;
        padding-left: 20px;
        margin-left: 0;
    }
}